*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.gif{
position:fixed;
width:140px;
z-index:1;
pointer-events:none;
}

.left{
left:20px;
bottom:20px;
}

.right{
right:20px;
bottom:20px;
}

.card{
z-index:10;
}
@media (max-width:600px){

.gif{
width:90px;
}

.left{
left:5px;
bottom:10px;
}

.right{
right:5px;
bottom:10px;
}

}
